@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Bebas+Neue&family=Chivo:wght@900&family=Inter:wght@100;300;600&family=Montserrat:wght@100&family=Nunito:ital,wght@0,400;0,800;0,900;1,700&family=Palette+Mosaic&family=Poppins:wght@100;200;300;500&family=Roboto:wght@100;300;400&display=swap");

body {
  font-family: "Nunito";
}

h1 {
  color: red;
  margin-right: 4px;
  font-weight: 900;
}

h2 {
  margin-top: 24px;
  font-weight: 900;
}

.theHeader {
  display: flex;
  justify-content: center;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.divTitle {
  display: flex;
  align-items: center;
  padding-right: 6rem;
}

.buttonStart {
  width: 64px;
  height: 40px;
  margin-top: 22px;
  background: #e9ecef;
  color: #5b6166;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
}
@media screen and (min-width: 729px) {
  .divTitle {
    display: flex;
    align-items: center;
    padding-right: 30rem;
  }
}

@media screen and (min-width: 1000px) {
  .divTitle {
    display: flex;
    align-items: center;
    padding-right: 45rem;
  }
}
